// Cards
@import "variables";

#cards-wrapper {
  padding: $card-gutter 0 0 $card-gutter;
}

#cards {
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0;
}

.card-block {
  margin: 3px 0 0;
  padding: 0 $card-gutter $card-gutter 0;
}

.card-sizer,
.card-block {
  width: 100%;
  
  @include media-screen-width (sm) {
    width: 50%;
  }
  @include media-screen-width (lg) {
    width: 33.333%;
  }
}

.card {
  background-color: $card-background;
  color: $card-text-color;
  padding: $card-gutter;
  margin: 0;
  border-radius: $card-radius;
  box-shadow: 0px 0px $card-shadow-size $card-shadow-color;
}

.card-image img {
  width: 100%;
  border-radius: $card-radius;
}

.card-header,
.card-header a,
.card-header a:hover,
.card-header a:visited {
  color: $emphasis-color;
  padding: 0;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0;
}

div.card-header {
  margin-bottom: $card-gutter;
}

.card-body {
  p:first-child {
    margin-top: 0;
  }
}


.card-credits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  .card-credit {
    list-style-type: none;
    display: block;
    margin-bottom: 0.3em;
  }
}

.card-tags {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #b0b0b0;
    text-decoration: none;
  }
  &.current {
    text-decoration: underline;
    font-weight: bold;
  }
}

ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list-inline > li {
  display: inline-block;
  padding-right: $tag-spacing;
}
