// The list of screen sizes and the related height and font-width
$menu-sizes: ( 
  // default sizes
  '*': (height: 45px, font: 1.5em), 
  sm: (height: 45px, font: 1.5em),
  md: (height: 50px, font: 1.75em),
  // large screen
  lg: (height: 50px, font: 1.75em),
  xl: (height: 55px, font: 2em)
);

// the screen size at which the wide menu will display.
$wide-menu: md;

@function menu-height($size) {
  @return map-get(checked-map-get(size, $menu-sizes, $size), height);
}

@function menu-font($size) {
  @return map-get(checked-map-get(size, $menu-sizes, $size), font);
}

@mixin media-menu-height($size) {
  @include media-screen-width ($size) {
    height: menu-height($size);
    .logo {
      font-size: menu-font($size);
    }
    @content;
  }
}

.custom-menu-wrapper {
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 50;
  @include media-screen-width ($wide-menu) {
    background-color: black;
  }
}

.custom-menu {
  display: block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  height: menu-height("*");
  .logo {
    font-size: menu-font("*");
  }
  .pure-menu-link {
    color: white;
    &.current {
      text-decoration: underline;
    }
  }
  .pure-menu-link:hover {
    background-color: transparent;
  }
  @include media-menu-height(sm);
  @include media-menu-height(md);
  @include media-menu-height(lg);
  @include media-menu-height(xl);
  // When viewing the full size menu
  @include media-screen-width ($wide-menu) {
    display: inline-block;
  }
}

.custom-menu-top {
  //position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background: black;
}

.pure-menu-horizontal {
  &.pure-menu-scrollable {
    padding: 0px;
  }
  .pure-menu-list {
    padding-top: 5px;
  }
  .custom-menu-tucked {
    z-index: -1;
    top: menu-height("*");
    position: absolute;
    overflow: hidden;
    @include media-screen-width ($wide-menu) {
      top: menu-height($wide-menu);
      z-index: auto;
      position: inherit;
      overflow: auto;
    }
  }
}

.custom-menu-bottom {
  position: absolute;
  width: 100%;
  border-top: 1px solid #eee;
  @include transition (all 1s);
  background-color: #808080\9;
  z-index: 100;
  .pure-menu-link {
    opacity: 1;
    @include transform (translateX(0));
    @include transition (all 0.5s);
  }
  &.custom-menu-tucked {
    border-top: none;
    .pure-menu-link {
      @include transform (translateX(-140px));
      opacity: 0;
      opacity: 1\9;
    }
  }
  // on a large screen...
  @include media-screen-width ($wide-menu) {
    &,
    &.custom-menu-tucked {
      position: absolute;
      right: 0;
      top: 0;
      border-top: none;
      background-color: inherit;
      z-index: auto;
      text-align: right;
      width: auto;
      .pure-menu-link {
        opacity: 1;
        @include transform (translateX(0));
        @include transition (all 0.5s);
      }
    }
  }
}

.custom-menu-brand {
  padding: 0 15px;
  display: block;
  text-align: left;
  //position: relative;
  @include media-screen-width ($wide-menu) {
    padding: 0 1em;
  }
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  display: none\9;
  position: absolute;
  top: 3px;
  right: 0;
  // Toggle bar
  .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    @include transition (all 0.5s);
  }
  .bar:first-child {
    @include transform (translateY(-6px));
  }
  &.x .bar {
    @include transform (rotate(45deg));
  }
  &.x .bar:first-child {
    @include transform (rotate(-45deg));
  }
  // When on a large screen...
  @include media-screen-width ($wide-menu) {
    display: none;
  }
}

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  @include transition (max-height 0.5s);
  max-height: 5em;
  //height: 3em;
  //width: 100%;
  //position: absolute;
  //top: 0;
  //z-index: -1;
  @include media-screen-width ($wide-menu) {
    width: auto;
  }
}

.custom-menu-tucked.custom-menu-screen {
  max-height: 0;
  @include transition (max-height 0.5s);
  @include media-screen-width ($wide-menu) {
    max-height: 5em;
  }
}

main {
  margin-top: menu-height("*");
  @include media-screen-width ($wide-menu) {
    margin-top: menu-height($wide-menu);
  }
}