.card ul.social {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
  li.social {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 18%;
    text-align: center;
  }
  
  .fa-brands, .fa-solid {
    font-size: 35px;
    color: black;
  }

  .fa-square-youtube {
    color: rgb(205,32,31)
  }

  .fa-square-vimeo {
    color: rgb(26,183,234)
  }

  .fa-square-x-twitter {
    color: black;
  }

  .fa-square-facebook {
    color: rgb(59,89,152)
  }

  .fa-square-envelope {
    color: slategrey
  }
}
