@import "standard/variables";

// Define Variables

$background:    #000;
$blue:          #23aebb;
$orange:        #ff6633;
$gray:          #707070;

$text-color:    white;

$card-gutter: 15px;
$card-background: #ffffff;
$card-text-color: #333333;
$card-shadow-size: 10px;
$card-shadow-color: #888;

$card-radius: 3px;

$tag-spacing: 5px;
