@charset "UTF-8";

/* CSS Document */

@font-face {
  font-family: BIRTH OF A HERO;
  src: url('font.eot');
  /* IE */
  src: local('BIRTH OF A HERO'), url('birth_of_a_hero_regular.ttf');
  /* non-IE */
}

body {
  background: black;
}

.random a,
.random a#hover,
.random a#visited {
  color: white;
  text-decoration: none;
}

.title a,
.title a#hover,
.title a#visited {
  color: white;
  text-decoration: none;
}

.title {
  text-align: center;
  font-family: "BIRTH OF A HERO", sans-serif;
  color: white;
  font-size: 32pt;
}

.title .photons,
.header .photons {
  color: #0A39A6;
}

.header {
  vertical-align: central;
  font-family: "BIRTH OF A HERO", sans-serif;
  color: white;
}

/* sm */
@media screen and (min-width: 35.5em) {
  .title {
    font-size: 40pt;
  }
}

/* md */
@media screen and (min-width: 48em) {
  .title {
    font-size: 50pt;
  }
}

/* lg */
@media screen and (min-width: 64em) {
  .title {
    font-size: 55pt;
  }
}

/* xl */
@media screen and (min-width: 80em) {
  .title {
    font-size: 65pt;
  }
}