---
layout: portfolio
style: layout/escapevelocity.css
title: All Alone In The Night | randomphotons.com
menu:
  - { name: all, href: "/#*" }
  - { name: film, href: "/#film" }
  - { name: producer, href: "/#producer" }
  - { name: editor, href: "/#editor" }
  - { name: about, href: "/#about" }
---

<div id='player-wrapper'>
  <div id='player' data-video-id="FG0fTKAqZ5g"></div>
</div>

<div id='content'>
  <h1>All Alone In the Night</h1>
  
  <h2>Frequently Asked Questions</h2>

  <div id="cards-wrapper">
    <div id="cards">
      <div class="card-sizer"></div>
        {% assign sources = site.alone_faqs %}
        {% for source in sources %}
          {% if source.disabled == nil %}
            {% include source/credit.html %}
          {% endif %}
        {% endfor %}
      </div>
  </div>

<script type="text/javascript" src="{{ site.baseurl }}/layout/youtube.js"></script>
