---
---
// Styles specific to the index.html page
@charset "UTF-8";

@import "logo-light";
@import "mixins";

// Ensure the height scales correctly
body,
html,
main {
  color: white;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#player {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 390px;
}

main {
  margin-top: 390px;
}

main .title {
  summary {
    margin-top: 0;
  }
}

a {
  color: white;
  text-decoration: underline;

  &[href=''] {
    color: red;
  }

  &:hover {
    color: whitesmoke;
    text-decoration: underline;
  }
  &:visited {
    color: white;
    &[href=''] {
      color: red;
    }
  }
  img {
    text-decoration: none;
    border: none;
  }
  img:hover {
    opacity: 0.5;
  }
}

.note {
  margin-top: 10px;

  p {
    margin: 0;
    padding: 0;
  }

  .title {
    font-weight: bold;
    font-style: italic;
  }
}

.logo {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1000px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;

  font-size: 32pt;

  @include media-screen-width (sm) {
    font-size: 40pt;
  }

  @include media-screen-width (md) {
    font-size: 50pt;
  }

  @include media-screen-width (lg) {
    font-size: 55pt;
  }

  /* xl */
  @include media-screen-width (xl) {
    font-size: 65pt;
  }
}
