---
layout: portfolio
style: layout/video.css
title: Escape Velocity | randomphotons.com
menu:
  - { name: all, href: "/#*" }
  - { name: film, href: "/#film" }
  - { name: producer, href: "/#producer" }
  - { name: editor, href: "/#editor" }
  - { name: about, href: "/#about" }
---

<div id='player-wrapper'>
  <div id='player' data-video-id="PLcE3AI9wwE"></div>
</div>

<div id='content' class='centered'>
  <h1>Credits</h1>

  <div id="cards-wrapper">
    <div id="cards">
      <div class="card-sizer"></div>
        {% assign items = site.escape_credits %}
        {% for item in items %}
          {% if item.disabled == nil %}
            {% include portfolio/card.html %}
          {% endif %}
        {% endfor %}
      </div>
  </div>

<script type="text/javascript" src="{{ site.baseurl }}/layout/youtube.js"></script>
