---
---
/* Styles specific to the index.html page */
@charset "UTF-8";

@import "logo-light";

/* ensure the height scales correctly */
body,
html,
main {
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  text-align: center;
  font-size: 32pt;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1000px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

/* sm */
@media screen and (min-width: 35.5em) {
  .logo {
    font-size: 40pt;
  }
}

/* md */
@media screen and (min-width: 48em) {
  .logo {
    font-size: 50pt;
  }
}

/* lg */
@media screen and (min-width: 64em) {
  .logo {
    font-size: 55pt;
  }
}

/* xl */
@media screen and (min-width: 80em) {
  .logo {
    font-size: 65pt;
  }
}