---
---
// Styles specific to the index.html page
@charset "UTF-8";

@import "logo-light";
@import "mixins";

// Ensure the height scales correctly
body,
html,
main {
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1000px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;

  font-size: 32pt;

  @include media-screen-width (sm) {
    font-size: 40pt;
  }

  @include media-screen-width (md) {
    font-size: 50pt;
  }

  @include media-screen-width (lg) {
    font-size: 55pt;
  }

  /* xl */
  @include media-screen-width (xl) {
    font-size: 65pt;
  }
}