@charset "UTF-8";
/* CSS Document */

@font-face { font-family: BIRTH OF A HERO; src: url('http://www.mediafont.com/storage/contents/11996/font.eot'); /* IE */ src: local('BIRTH OF A HERO'), url('http://www.mediafont.com/storage/contents/11996/birth_of_a_hero_regular.ttf'); /* non-IE */ }

body {
    background: black;
}

a, a#hover a#visited {
    color: white;
    text-decoration: none;
}

.title {
  width:300px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  text-align: center;
  vertical-align: central;
  font-family: "BIRTH OF A HERO", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
  font-size: 60px;
  color: white;
}

.title .photons {
  color: #0A39A6;
}