{% include links/filter-bar.html %}

<div id="filter-focus"></div>

<div id="loading" class="text-center">
  <p>Loading...</p>
</div>

<div id="allposts">

  <!-- Intro Tiles -->
  {% include static-cards/intro-links.html %}

  {% assign links = site.links | sort: 'sort' %}
  <!-- Highlight the current redirect, if relevant -->
  {% if page.redirect %}
  {% for link in links %}
    {% if link.name == page.redirect %}
      {% include links/link-template.html %}
    {% endif %}
  {% endfor %}
  {% endif %}
  
  <!-- Main Tiles -->
  {% for link in links %}
    {% if page.redirect == nil or link.name != page.redirect %}
      {% include links/link-template.html %}
    {% endif %}
  {% endfor %}

  <!-- Copyright Tile -->
  {% include static-cards/cc-license.html %}

</div>