<div class="eachpost {% for each in link.tags %}{{each}} {% endfor %}">

  <div class="card-image">
    {% if link.href %}
      <a href="{{ link.href }}" target="_blank"><img src="{{ site.baseurl }}/images/{{ link.image }}"/></a>
    {% else %}
      <img src="{{ site.baseurl }}/images/{{ link.image }}"/>
    {% endif %}
  </div>

  <div class="card-header">
    <a href="{{ link.href }}" target="_blank">{{ link.header | markdownify }}</a>
  </div>

  <div class="card-body">
    {{ link.content }}
  </div>

  <div class="card-footer">
    <small>
      <ul class="list-inline">
        {% for each in link.tags %}
          <li><a class="card-tags js-filter" data-filter=".{{ each }}">#{{ each }}</a></li>
        {% endfor %}
      </ul>
    </small>
  </div>

</div><!-- eachpost div -->
