<div class="card-block {% for each in item.tags %}{{each}} {% endfor %}">
  <div class="card">
    {% if item.image %}
    <div class="card-image">
      {% if item.href %}
      <a href="{{ item.href }}" target="_blank"><img src="{{ site.baseurl }}/images/{{ item.image }}" alt="{{ item.caption | default: item.header  }}" /></a>
      {% else %}
      <img src="{{ site.baseurl }}/images/{{ item.image }}" /> {% endif %}
    </div>
    {% endif %} {% if item.header %}
    <div class="card-header">
      {% if item.href %}<a href="{{ item.href }}" target="_blank">{% endif %}{{ item.header | markdownify | remove: '<p>' | remove: '</p>' }}{% if item.href %}</a>{% endif %}
    </div>
    {% endif %}

    <div class="card-body">
      {{ item.content }}
    </div>
    
    {% if item.credits %}
    <ul class="card-credits">
    {% for credit in item.credits %}
    <li class="card-credit">
      {{ credit | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if item.timecodes %}
    <div class="card-footer">
      <ul class="list-inline">
        {% for each in item.timecodes %}
          <li><small><a class="card-tags card-timecode" onclick="return skipTo('{{ each }}')">{{ each }}</a></small></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if item.hidetags == null and item.tags %}
    <div class="card-footer">
      <ul class="list-inline">
        {% for each in item.tags %}
          <li><small><a class="card-tags js-filter" href="#{{ each }}">#{{ each }}</a></small></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
<!-- card-block div -->