<div class="custom-menu-wrapper">
  <div class="pure-menu custom-menu custom-menu-top">
    <a href="{{ site.baseurl }}/" class="pure-menu-heading custom-menu-brand">
      <div class="logo logo-light">random<em>photons</em></div>
    </a>

    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  </div>
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked custom-menu-screen" id="tuckedMenu">
    <ul class="pure-menu-list">
      {% for item in page.menu %}
      <li class="pure-menu-item"><a class="js-filter pure-menu-link" href="{{item.href}}">{{item.name}}</a></li>
      {% endfor %}
      
      <li class="pure-menu-item social"><a href="{{ site.baseurl }}/" class="pure-menu-link"><i class="fa fa-home" title="Home"></i></a></li>

    </ul>
  </div>
</div>