<span class="noscript"><noscript>You have Javascript turned off. This site requires Javascript to be viewed properly</noscript></span>

<div class="custom-menu-wrapper">
  <div class="pure-menu custom-menu custom-menu-top">
    <a href="{{ site.baseurl }}/" class="pure-menu-heading custom-menu-brand">
      <div class="logo logo-light">random<em>photons</em></div>
    </a>

    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  </div>
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
    <div class="custom-menu-screen"></div>
    <ul class="pure-menu-list">
      <li class="pure-menu-item social"><a href="{{ site.baseurl }}/" class="pure-menu-link"><i class="fa fa-home" alt="Home" title="Home"></i></a></li>

      <li class="pure-menu-item"><a class="js-filter current pure-menu-link" data-filter="*">all</a></li>
      <li class="pure-menu-item"><a class="js-filter pure-menu-link" data-filter=".film">film</a></li>
      <li class="pure-menu-item"><a class="js-filter pure-menu-link" data-filter=".producer">producer</a></li>
      <li class="pure-menu-item"><a class="js-filter pure-menu-link" data-filter=".editor">editor</a></li>
      <li class="pure-menu-item"><a class="js-filter pure-menu-link" data-filter=".about">about</a></li>
    </ul>
  </div>
</div>
<script type="application/javascript" src="../js/purecss/tucked-menu.js"></script>