<div class="filter-bar">
  <ul class="list-inline list-unstyled navbar-left">
    <li><a class="js-filter current" data-filter="*">all</a></li>
    <li><a class="js-filter" data-filter=".film">film</a></li>
    <li><a class="js-filter" data-filter=".producer">producer</a></li>
    <li><a class="js-filter" data-filter=".editor">editor</a></li>
    <li><a class="js-filter" data-filter=".about">about</a></li>
  </ul>
  <ul class="list-inline list-unstyled navbar-right">
    <li class="social"><a href="https://vimeo.com/randomphotons" target="_blank"><i class="fa fa-vimeo-square" alt="Vimeo" title="Vimeo"></i></a></li>
    <li class="social"><a href="https://twitter.com/randomphotons" target="_blank"><i class="fa fa-twitter-square" alt="Twitter" title="Twitter"></i></a></li>
    <li class="social"><a href="https://www.facebook.com/randomphotons/" target="_blank"><i class="fa fa-facebook-square" alt="Facebook" title="Facebook"></i></a></li>
    <li class="social"><a href="mailto:productions@randomphotons.com"><i class="fa fa-envelope-square" alt="Email" title="Email"></i></a></li>
  </ul>
</div>
