---
---
// support imports
@import "bourbon/bourbon";
@import "mixins";

// site imports
@import "logo-light";

// portfolio imports
@import "portfolio/variables";
@import "portfolio/filter-focus";
@import "portfolio/loading";

@import "portfolio/menu";
@import "portfolio/card";
@import "portfolio/social";

// Pure CSS Menus
@import "../css/pure-0.6.0/menus-min.css";

/**********************/
/* Custom CSS         */
/**********************/
body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  margin: 0px;
  padding: 0px;
  background: $background;
}

* {
  box-sizing: border-box;
}

a {
  color: #666666;
  text-decoration: underline;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }

  img {
    text-decoration: none;
    border: none;
  }

  img:hover {
    opacity: 0.5;
  }
}

#loading {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1000px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;

  font-size: 12pt;

  @include media-screen-width (sm) {
    font-size: 14pt;
  }

  @include media-screen-width (md) {
    font-size: 16pt;
  }

  @include media-screen-width (lg) {
    font-size: 16pt;
  }

  /* xl */
  @include media-screen-width (xl) {
    font-size: 18pt;
  }
}