// purecss.io breakpoints
$purecss-grid-sizes: (
  sm:    35.5em,
  md:    48em,
  lg:    64em,
  xl:    80em,
);

// Allows easy setting styles for specific screen widths.
@mixin media-screen-width($size) {
  @media only screen and (min-width: screen-width($size)) { @content; }
}

// Returns the width for the specified screen size.
@function screen-width($size) {
  @return checked-map-get(size, $purecss-grid-sizes, $size);
}

@function checked-map-get($name, $map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }
  @error key-does-not-exist(size, $map, $key);
}


@function key-does-not-exist($name, $map, $key) {
  @return "The #{$name} must be one of #{join(map-keys($map), (), comma)} but was #{$key}.";
}