<div class="card-block">
  <div class="card">
    {% if source.image %}
    <div class="card-image">
      {% if link.href %}
      <a href="{{ source.href }}" target="_blank"><img src="{{ site.baseurl }}/images/{{ source.image }}" alt="{{ source.title }}" /></a>
      {% else %}
      <img src="{{ site.baseurl }}/images/{{ source.image }}" /> {% endif %}
    </div>
    {% endif %} {% if !source.title %}
    <div class="card-header">
      {% if source.href %}<a href="{{ source.href }}" target="_blank">{% endif %}{{ source.title | markdownify | remove: '<p>' | remove: '</p>' }}{% if source.href %}</a>{% endif %}
    </div>
    {% endif %}

    {% if source.content %}
    <div class="card-body">
      {{ source.content }}
    </div>
    {% endif %}

    {% if source.credits %}
    <ul class="credits">
    {% for credit in source.credits %}
    <li class="credit">
      {{ credit | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if source.timecodes %}
    <div class="card-footer">
      <ul class="list-inline">
        {% for each in source.timecodes %}
          <li><small><a class="card-tags js-filter" onclick="return skipTo('{{ each }}')">{{ each }}</a></small></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
<!-- card-block div -->