<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="Description" content="{{ site.description }}" />
  <meta name="Keywords" content="{{ site.keywords }}" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author }}" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.redirect %}
  <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'"> {% endif %}

  <!-- Homepage CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/layout/default.css" />
  {% if page.style %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ page.style }}">{% endif %}
</head>

<body>
  <main>
  {{content}}
  </main>
  {% include body-scripts.html %}
</body>

</html>