  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' i.creativecommons.org licensebuttons.net; script-src 'self' use.fonticons.com static.cloudflareinsights.com www.youtube.com; style-src 'self' 'unsafe-inline' fonticons-free-fonticons.netdna-ssl.com; connect-src cloudflareinsights.com; child-src www.youtube.com; font-src 'self' data:">
  <meta name="Description" content="{{ site.description }}" />
  <meta name="Keywords" content="{{ site.keywords }}" />
  <meta name="author" content="{{ site.author }}" />
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">